name = "office-indexer-worker"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[[d1_databases]]
binding = "OFFICE_DB"
database_name = "OFFICE_DB"
database_id = "a573af13-4c5b-473d-ab89-4538547eb53d"

# [[vectorize]]
# binding = "OFFICE_VECTORS"
# index_name = "office-vectors"

[ai]
binding = "AI"

[[r2_buckets]]
binding = "OFFICE_BLOB"
bucket_name = "office-blobs"

[triggers]
crons = ["0 0 * * *", "0 * * * *", "0 */6 * * *"]
