name = "vvz-rtc"
main = "src/worker.ts"
compatibility_date = "2024-11-07"

routes = [
  { pattern = "rtc.voulezvous.tv/*", zone_id = "c6fe10b231c2da593b93174d1146af35" }
]

[durable_objects]
bindings = [
  { name = "ROOMS", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RoomDO"]
